<div ng-controller="referralCtrl">






<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div style="background: #5CB0C3 !important" class="jumbotron">
                <h1 class="headText">Come Join Tim's World Wide Web!</h1>
                <h4 class="headSubText"><em>The leader in referral marketing!</em></h4>
              </div>
            </div>
        </div>
      </div>
    </div>
        <div class="row head-spacer">
        </div>
        <div class="linkName">
          <p>{{ link }} are awesome!</p>
        </div>


<p class="landText">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<div>
  <figure class="text-center" >
  <img src="images/ambassadorLogo.png" class="frontPageImg"/>
  <figure class="text-center" >
</div>
